.slider .left img{
    width: 18rem;
    height: 18rem;
    object-fit: cover;
}
.slider .left {
    padding: 0.5rem;
    border: 1px solid rgba(103, 48, 48, 0.5);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}
.slider .right {
    margin-top: 2rem;
}
.slider ul {
    position: absolute;
    bottom: 20px;
}
.slider ul li {
    border: 2px solid #b8b7b7;
    border-radius: 50%;
    padding: 10px;
}
.slider ul li button {
    background: transparent !important;
    color: transparent !important;
}
.slider ul li button::before{
    font-size: 15px;
    color: #0f3460;
    position: absolute;
    top: 1.3px;
    left: 0;
    margin: auto;
}


